* {
  position: relative;
}

html, body {
  padding: 0px;
  margin: 0px;
}

.max_width {
  max-width: 768px;
  margin-left: auto;
  margin-right: auto;
}

.header {
  height: 200px;
  background-color: #f4f2ed;
}
.header .icon {
  width: 150px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.content {
  font-family: "Roboto Condensed", "Noto Sans TC";
  padding: 50px;
}
.content h5 {
  margin-top: 10px;
}
.content .title_hr {
  border: solid 3px #919646;
  width: 100px;
}
.content h1 {
  font-size: 40px;
}
.content h2 {
  font-size: 30px;
}
.content h3 {
  font-size: 20px;
}
.content h1.small_english {
  font-size: 24px;
}
.content h2.small_english {
  font-size: 16px;
}
.content h3.small_english {
  font-size: 12px;
}
.content .small_english {
  margin-top: -15px;
}
.content .button {
  padding: 5px 25px;
  border-radius: 4%;
  display: inline-block;
  margin-right: 10px;
  letter-spacing: 2px;
  font-size: 15px;
  font-weight: bold;
  border: solid 1px white;
}
.content .button_blue {
  background-color: #27232F;
}
.content .button_yellow {
  background-color: #ffb336;
  color: #27232F;
}
.content .color_chip {
  display: inline-block;
  margin-right: 25px;
}
.content .color_chip .color_block, .content .color_chip .color_tag {
  display: inline-block;
  vertical-align: middle;
}
.content .color_chip .color_tag {
  width: 60px;
}
.content .color_chip .color_block {
  width: 35px;
  height: 35px;
  border: solid 2px white;
}
.content .color_chip .color_block_yellow {
  background-color: #ffb336;
}
.content .color_chip .color_block_blue {
  background-color: #27232F;
}
.content .color_chip .color_block_white {
  background-color: #f3f7f7;
}
.content .color_chip .color_block_grey {
  background-color: #414141;
}

.content_green {
  background-color: #215140;
  color: #f3f7f7;
}
.content_green .small_english {
  color: #919646;
}
.content_green h1, .content_green h2, .content_green h3 {
  font-weight: 500;
}

.content_light_grey {
  background-color: #f4f2ed;
  color: #27232F;
}
.content_light_grey .small_english {
  color: #414141;
}
.content_light_grey .title_hr {
  border-color: #215140;
}
.content_light_grey .button {
  border-color: #27232F;
}
.content_light_grey .button_blue {
  color: #f3f7f7;
}

.content_blue {
  background-color: #27232F;
  color: #f3f7f7;
}
.content_blue .small_english {
  color: #ffb336;
}
.content_blue .title_hr {
  border-color: #ffb336;
}
.content_blue h1, .content_blue h2, .content_blue h3 {
  font-weight: 500;
}
.content_blue .button {
  border-color: #f3f7f7;
  font-weight: 500;
}
.content_blue .button_yellow {
  font-weight: bold;
}