* {
  background-color: #5B5B5B;
}

.container {
  font-size: 0px;
  text-align: center;
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
}

.block {
  display: inline-block;
  font-size: 20px;
  height: 200px;
  border: solid 3px black;
  box-sizing: border-box;
  text-align: center;
  background-color: #C9C19F;
}
.block .icon {
  width: 30%;
  min-width: 150px;
  background-color: #C9C19F;
}

h4 {
  background-color: #C9C19F;
}

.a {
  height: initial;
}

.a, .g {
  width: 100%;
}

.b {
  width: 70%;
}

.c {
  width: 30%;
}

.d, .e {
  width: 35%;
}

.f {
  width: 30%;
}