svg {
  width: 240px;
  border: solid 2px;
}

#pic1 {
  stroke: black;
  stroke-width: 3px;
}
#pic1 circle {
  fill: white;
}
#pic2 {
  stroke: black;
  stroke-width: 3px;
}
#pic2 circle {
  fill: white;
}
#pic2 rect {
  fill: none;
}

#pic3 {
  stroke: black;
}
#pic3 polyline {
  fill: none;
}

#pic5 {
  stroke: black;
  strok-width: 2px;
  fill: none;
}
#pic5 circle {
  fill: red;
  stroke: none;
}
#pic5 text {
  stroke: none;
  fill: black;
  font-size: 8px;
}
#pic5 .frame_out, #pic5 .frame_in, #pic5 .neck, #pic5 .bottom {
  transform: scale(0);
  transform-origin: center bottom;
  transition-duration: 0.5s;
  transition-delay: 0.5s;
}
#pic5 .screen_content {
  opacity: 0;
  transition-duration: 0.5s;
  transition-delay: 0s;
}
#pic5:hover .frame_out, #pic5:hover .frame_in, #pic5:hover .neck, #pic5:hover .bottom {
  transform: scale(1);
  transition-delay: 0.5s;
}
#pic5:hover .neck, #pic5:hover .bottom {
  transition-delay: 0s;
}
#pic5:hover .screen_content {
  opacity: 1;
  transition-delay: 1s;
}