@charset "UTF-8";
* {
  font-family: 微軟正黑體;
}

body {
  height: 1000px;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-weight: bold;
}

nav.navbar {
  transition: 0.5s;
}

nav.navbar.navbar-default.navbar-fixed-top.navbar-top {
  background-color: transparent;
}
nav.navbar.navbar-default.navbar-fixed-top.navbar-top a {
  color: white;
  transition: 0.5s;
}
nav.navbar.navbar-default.navbar-fixed-top.navbar-top a:hover {
  color: #ff6e3e;
}

header.jumbotron {
  text-align: center;
  background-image: url(http://5b0988e595225.cdn.sohucs.com/images/20190115/0c097cea9a66491687279e736d6c1e07.jpeg);
  background-size: cover;
  background-attachment: fixed;
  margin-bottom: 0px;
}
header.jumbotron .container {
  color: white;
  padding: 200px 0px;
}
header.jumbotron hr {
  max-width: 50px;
  border: solid 2px #ff6e3e;
}
header.jumbotron h4 {
  color: rgba(255, 255, 255, 0.5);
  font-weight: normal;
}

section {
  padding: 50px 0px;
}

section#section_ask {
  background-color: #ff6e3e;
}
section#section_ask .col-sm-5.img {
  background-image: url(https://img.allhistory.com/5ec49e14d7f8a70001faeec3.jpg?imageView2/2/w/2560/|imageMogr2/strip/interlace/1/quality/75/format/jpg);
  height: 350px;
  mix-blend-mode: multiply;
}
section#section_ask h2 {
  margin-top: 130px;
  padding: 0px 20px;
}

section#section_about img {
  width: 140%;
}
section#section_about .img_wrap {
  height: 220px;
  overflow: clip;
}

section#section_story {
  background-color: #222;
  color: white;
  padding: 0;
}
section#section_story .col-sm-5 {
  background-image: url(https://awiclass.monoame.com/img/web1_print/map.gif);
  background-size: 100% auto;
  height: 400px;
}
section#section_story .col-sm-5 .cross {
  position: absolute;
  left: 23%;
  top: 40%;
  color: red;
  font-weight: bold;
  font-size: 30px;
}
section#section_story .col-sm-7 {
  text-align: center;
}
section#section_story .col-sm-7 i {
  font-size: 40px;
}
section#section_story .col-sm-12.features {
  margin-top: 30px;
  margin-bottom: 30px;
}

section#section_future img {
  width: 100%;
}
section#section_future i {
  font-size: 30px;
}
section#section_future .feature {
  padding-top: 10px;
  padding-bottom: 10px;
}

footer.jumbotron {
  text-align: center;
  background-image: url(http://5b0988e595225.cdn.sohucs.com/images/20190115/0c097cea9a66491687279e736d6c1e07.jpeg);
  background-size: cover;
  background-attachment: fixed;
  margin-bottom: 0px;
}
footer.jumbotron input {
  background-color: transparent;
  max-width: 350px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
footer.jumbotron .container {
  color: white;
  padding: 60px 0px;
}
footer.jumbotron hr {
  max-width: 50px;
  border: solid 2px #ff6e3e;
}